asgiref==3.11.0
certifi==2026.2.25
charset-normalizer==3.4.4
Django==6.0.1
django-cors-headers==4.9.0
gunicorn==24.1.1
idna==3.11
packaging==26.0
python-dotenv==1.2.1
requests==2.32.5
sqlparse==0.5.5
urllib3==2.6.3
